.header-container{
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;

    transition: all .3s ease-in-out;
}

.header-container.out {
    transform: translateY(-100%);
}

.header-content{
    @include container;
    font-family: 'Raleway', sans-serif;

    &__inner{
        display: flex;
        justify-content: space-between;
    }

    &__separator{
        margin: 0;
        border: none;
        height: 1px;
        background-color: $header-lines-color;
    }

    &__burger-menu{
        display: none;
        cursor: pointer;

        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    &__burger-menu-check{
        display: none;
    }
}

.burger-menu__line{
    width: 37px;
    background-color: white;
    height: 3px;
    border: none;
    margin: 5px;
}


.nav-content{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    display: flex;


    &__item{
        width: 134px;
        height: 101px;
        text-decoration: none;
        color: white;
        border-bottom: 3px solid rgba(0, 0, 0, 0);

        display: flex;
        align-items: center;
        justify-content: center;

        transition: .7s;
    }

    &__item:hover{
        border-bottom-color: $header-lines-color;
    }

    &__item:active{
        color: $hover-color;
        border-bottom: 3px solid $hover-color;
    }
}

@media (max-width: 1200px){
    .header-content{
        @include container_max1200;
    }
}


@media (max-width: 990px){
    .header-content{
        @include container_max990;

        &__burger-menu{
            display: flex;
        }
    }

    .header-inner{
        &__navigation{
            display: none;
        }
    }

    #burger-menu:checked ~ .header-container .burger-menu .line2{
        display: none;
    }
    
    #burger-menu:checked ~ .header-container .burger-menu .line1{
        transform: rotate(45deg);
        margin-bottom: 8px;
    }
    
    #burger-menu:checked ~ .header-container .burger-menu .line3{
        transform: rotate(-45deg);
        margin-top: -10px;
    }
    
    #burger-menu:checked ~ .header-container{
        height: 100vh;
        z-index: 10;
        background: linear-gradient(rgba(37, 43, 73, .8), rgba(37, 43, 73, .8)),
        url(/src/images/features-banner.png) 100% / cover no-repeat;
        position: fixed;
    }
    
    #burger-menu:checked ~ .header-container .header-content .header-inner{
        display: grid;
        grid-template-columns: 270px auto;
        grid-template-rows: 101px auto;
        height: 100vh;
    }
    
    #burger-menu:checked ~ .header-container .header-content .nav-content{
        display: flex;
        flex-direction: column;
        grid-column: 1/3;

        &__item{
            width: 100%;
            font-size: 16px;
        }
    }
}

@media (max-width: 730px){
    .header-content{
        @include container_max730;
    }
}

@media (max-width: 510px){
    .header-content{
        @include container_max510;

        &__separator{
            display: none;
        }
    }

    .header-inner__logo{
        height: 66px;
    }

    #burger-menu:checked ~ .header-container .header-content .header-inner{
        grid-template-rows: 66px auto;
    }

    .nav-content__item{
        justify-content: flex-start;
    }
}

@media (max-width: 390px){
    .header-content{
        @include container_max390;
    }

    #burger-menu:checked ~ .header-container .header-content .header-inner{
        grid-template-columns: 130px auto;
    }
}